*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url('../img/city.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*começo header*/
#soundpage{
    display: none;
}

.container{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    padding: 1% 1%;
}

.logo{
    width: 100px;
    height: 100px;
    background-image: url('../img/speedomete.gif');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-left: 11%;
    border-radius: 50%;

}

.logo01{
    border-radius: 10px;
    width: 500px;
    height: 100px;
    background-image: url('../img/midnight-club-logo-5077.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
/* final header */

/*começo video topo*/
.topo{
    width: 100%;
    height: auto;
}

video{
    width: 100%;
    
}

.overlay{
    position: relative;
    top: -90px;
    text-align: center;
    padding: 40px;
    
}

.overlay #myBtn:hover, .overlay #soundBtn:hover{
    color: red;
    text-shadow: 5px 5px 10px red;
}

.overlay #myBtn:focus, .overlay #soundBtn:focus{
    outline: 0;
}

.overlay .button-video, .overlay .button-sound{
    width: 30%;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 5px red;
    background-color: rgba(124, 124, 124, 0.5);
    font-style: italic;
    font-size: 20px;
    padding: 5px;
}
/*final video topo*/

/*começo setor medio*/
article{
    width: 100%;
    height: auto;
}

.medio{
    width: 100%;
    height: auto;
    padding: 20px;
}

.carrosel{
    padding: 20px;
}

.medio h1{
    color: white;
    text-shadow: 5px 5px 10px purple;
    font-size: 40px;
    word-spacing: 20px;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

.medio h4{
    color: white;
    text-shadow: 5px 5px 10px purple;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}

.item p{
    color: white;
    text-shadow: 5px 5px 10px yellow;
    font-size: 25px;
}

.item img{
    width: 100%;
    height: 200px;
    border-radius: 50px;
    box-shadow: 5px 5px 40px purple;
    transition: 1s;
}

.item img:hover{
    transform: scale(1.2,1.2);
}

.item{
    margin: 50px 5px;
    text-align: center;
}
/*Final setor medio*/

/*FORMULARIO*/
.formulario{
    width: 100%; 
    margin: 20px auto;  
}

form{
    width: 50%;
    min-width: 80%;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(102, 92, 114, 0.5);
    
}

.formulario h2, .formulario legend, .formulario p{
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    font-weight: normal;
    color: white;
    margin: 10px;
    text-shadow: 5px 5px 10px red;
    font-size: 25px;

}

.formulario p:nth-of-type(1){
    margin-top: 20px;
    font-size: 25px;
}

.formulario h2:nth-of-type(1){
    font-size: 35px;
    color: white;
    text-shadow: 5px 5px 10px red;
    border-bottom: 2px solid blue;
    text-align: center;
}

.formulario input[type=text], .formulario input[type=telefone] {
    width: 70%;
    height: 30px;
    padding-left: 5px;
    border-radius: 8px;
    color: white;
    background-color: rgba(133, 127, 130, 0.2);
    font-family: 'arial black', sans-serif;
}

.formulario input[type=text]:hover, .formulario input[type=telefone]:hover{
    background-color: rgba(121, 11, 11, 0.7);
}

.formulario input[type=submit]:hover{
    text-shadow: 2px 2px 5px red;
    box-shadow: 5px 5px 10px blue;
}

form input:focus{
    outline: 0;
    border: 0;
}

.formulario input[type=submit]{
    width: 70%;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(133, 127, 130, 0.2);
    color: white;
    text-shadow: 2px 2px 5px red;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 20px;
    cursor: pointer;
    animation-name: animacao;
    animation-duration: 2s;
    
}

@keyframes animacao{
    0%{
        box-shadow: 10px 10px 20px 20px aqua;
        border-radius: 50%;
        
    }
    50%{
        box-shadow: 10px 10px 100px 100px rgb(11, 185, 185);
        width: 50%;
        height: 50%;
        background-image: url('../img/midnight-club-logo-5077.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        
    }
    100%{
        box-shadow: 20px 20px 300px 300px blue;
        width: 80%;
        height: 80%;
        background-image: url('../img/midnight-club-logo-5077.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    
}

footer{
    width: 100%;
    height: auto;
    padding: 10px;
    border-top: 5px solid purple;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.logo2{
    margin: 10px;
}

.logo2 h3{
    color: white;
    text-shadow: 5px 5px 10px purple;
}
.descricao{
    margin: 10px;
}

.descricao a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 1px purple;
}

.descricao img{
    width: 80px;
    border-radius: 50%;
}

.imgdev, .imgdev2{
    display: inline-block;
}

.imgdev img{
    width: 120px;

}

